﻿@model DoAnCoSoPhanModel_DB.Models.Comments

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_create)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_create)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_update)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_update)
        </dd>
    </dl>
    
    <form asp-action="DeleteCmt">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexCmt">Back to List</a>
    </form>
</div>
