﻿@model DoAnCoSoPhanModel_DB.Models.Comments

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Post</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Title</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.title)</dd>
                <dt class="col-sm-2">Content</dt>
                <dd class="col-sm-10">
                    @if (Model.contents.Length > 100)
                    {
                        <p>@Html.DisplayFor(model => model.contents)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.contents)
                    }
                </dd>

                <dt class="col-sm-2">Created Time</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.time_create)</dd>
                <dt class="col-sm-2">Updated Time</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.time_update)</dd>
            </dl>
        </div>
    </div>

<div>
    <a asp-action="EditCmt" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a> |
    <a asp-action="IndexCmt" class="btn btn-primary">Back to List</a>
</div>
