﻿@model DoAnCoSoPhanModel_DB.Models.Comments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCmt" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contents" class="control-label"></label>
                <input asp-for="contents" class="form-control" />
                <span asp-validation-for="contents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time_create" class="control-label">Thời gian đăng</label>
                <input disabled asp-for="time_create" class="form-control" />
                <span asp-validation-for="time_create" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time_update" class="control-label">Lần cập nhật trước</label>
                <input disabled asp-for="time_update" class="form-control" />
                <span asp-validation-for="time_update" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexCmt">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
