﻿@model DoAnCoSoPhanModel_DB.Models.Teacher

@{
    ViewData["Title"] = "DetailsGiaoVien";
}

<div class="container">
    <h1>DetailsGiaoVien</h1>

    <div>
        <h4>Teacher</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.age)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                Môn dạy
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MonDay)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkExperience)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WorkExperience)
            </dd>
            <dt class="col-sm-2">Image</dt>
            <dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" class="img-fluid" alt="News Image" width="150px">
                }
                else
                {
                    <p>No image available</p>
                }
            </dd>
        </dl>
    </div>

    <div>
        @* <a asp-action="EditGiaoVien" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> | *@
        <a asp-action="IndexGiaoVien" class="btn btn-secondary">Back to List</a>
    </div>
</div>
