﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.Teacher>

@{
    ViewData["Title"] = "GetAllGiaoVien";
}

<h1>GetAllGiaoVien</h1>

@* <p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Monday</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Work Experience</th>
            <th>Hình Ảnh</th>
@*             <th>Actions</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Email</td>
                <td>@item.FullName</td>
                <td>@item.age</td>
                <td>@item.Gender</td>
                <td>@item.MonDay</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.WorkExperience</td>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="@item.ImageUrl" width="150px" height="auto" />
                    }
                </td>
            @*     <td>
                    <a asp-action="EditGiaoVien" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="DetailsGiaoVien" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="DeleteGiaoVien" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
<div><a asp-action="IndexGiaoVien" class="btn btn-secondary">Back to List</a></div>
