﻿@model List<DoAnCoSoPhanModel_DB.Models.Teacher>
@{
    ViewData["Title"] = "Thông Tin Giáo Viên";
}


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
            <h1 class="mb-5">Expert Instructors</h1>
        </div>
        <div class="row g-4">
            @if (Model != null)
            {
                @foreach (var teacher in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" style="width: 100%; height: 180px" src="@teacher.ImageUrl" alt="@teacher.FullName">
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0"><a href="@Url.Action("DetailsGiaoVien", "GiaoVien", new { id = teacher.Id })">@teacher.FullName</a></h5>
                                <small>@teacher.MonDay</small>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
@*     <div>
        <a asp-action="CreateGiaoVien" class="btn btn-success">Thêm Giáo Viên</a>
    </div> *@
    <hr />
    <div>
        <a asp-action="GetAllGiaoVien" class="btn btn-primary">Xem Danh Sách Giáo Viên</a>
    </div>
</div>
<!-- Team End -->