﻿@model DoAnCoSoPhanModel_DB.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" class="img-fluid" alt="News Image" width="150px" height="auto" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>
        <dt class = "col-sm-2">
            Thời gian đăng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_create)
        </dd>
        <dt class = "col-sm-2">
           THời gian cập nhật
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_update)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexPost">Back to List</a>
    </form>
</div>
