﻿@model List<DoAnCoSoPhanModel_DB.Models.Post>
@{
    ViewData["Title"] = "IndexPost";
}


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">POST</h6>
            <h1 class="mb-5">Thảo Luận</h1>
        </div>
        <div class="row g-4">
            @if (Model != null)
            {
                @foreach (var post in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" style="width: 100%; height: 180px" src="@post.ImageUrl" alt="@post.title">
                            </div>

                            <div class="text-center p-4">
                                <h5 class="mb-0"><a href="@Url.Action("DisplayPost", "Post", new { id = post.Id })">@post.title</a></h5>
                                <small>@post.time_create</small>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
    <div>
        <a asp-action="AddPost" class="btn btn-success">Thêm Post</a>
    </div>
    <hr />
    <div>
        <a asp-action="IndexList" class="btn btn-primary">Xem Danh Sách POST</a>
    </div>
</div>
<!-- Team End -->
