﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="container px-4">
    <h2 class="mt-3 mb-3 ml-3">Danh sách Bài Đăng</h2>
    <hr />

    <div class="row mb-4">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Nội dung</th>
                        <th>Ảnh</th>
                        <th>Thời gian đăng</th>
                        @* <th>Actions</th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.title</td>
                            <td>
                                @if (item.Content.Length > 60)
                                {
                                    <span title="@item.Content">@item.Content.Substring(0, 60)...</span>
                                }
                                else
                                {
                                    @item.Content
                                }
                            </td>
                            <td>
                                @if (item.ImageUrl != null)
                                {
                                    <img src="@item.ImageUrl" width="150px" height="auto" />
                                }
                            </td>
                            <td>@item.time_create</td>
                            @* <td>
                                <a asp-action="DisplayPost" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                <a asp-action="UpdatePost" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="DeletePost" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="AddPost" class="btn btn-success">Tạo Post</a>
        <hr />
        <a asp-action="IndexPost" class="btn btn-primary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
