﻿@model DoAnCoSoPhanModel_DB.Models.Post

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePost" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ImageUrl" class="control-label">Ảnh</label>
                <input type="file" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time_create" class="control-label">Thời gian tạo</label>
                <input disabled asp-for="time_create" class="form-control" />
                <span asp-validation-for="time_create" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time_update" class="control-label">Thời gian cập nhật cũ</label>
                <input disabled asp-for="time_update" class="form-control" />
                <span asp-validation-for="time_update" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexPost">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
