﻿@model DoAnCoSoPhanModel_DB.Models.Feedbacks

@{
    ViewData["Title"] = "CreateFeedback";
}

<h1>CreateFeedback</h1>

<h4>Feedbacks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFeedback">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label">Tiêu đề</label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label">Nội dung</label>
                @* <input asp-for="content" class="form-control" /> *@
                <textarea id="tiny" asp-for="content" class="form-control"></textarea>
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexFeedback">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
