﻿@model DoAnCoSoPhanModel_DB.Models.Feedbacks

@{
    ViewData["Title"] = "EditFeedback";
}

<div class="container px-4">
    <h2 class="mt-3 mb-3 ml-3">Chỉnh sửa Phản hồi</h2>
    <hr />
    <div class="row mb-4">
        <div class="col-md-10 offset-md-1">
            <form asp-action="EditFeedback" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-2">
                    <label asp-for="title" class="control-label">Tiêu Đề</label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="content" class="control-label">Nội dung</label>
                    <input asp-for="content" class="form-control" />
                    <span asp-validation-for="content" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="IndexFeedback" class="btn btn-secondary">Quay lại danh sách</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
