﻿@model List<DoAnCoSoPhanModel_DB.Models.Feedbacks>
@{
    ViewData["Title"] = "Phản Hồi Của HS";
}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Testimonial</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Testimonial</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Phản hồi của Các em Học Sinh!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            @foreach (var feedback in Model)
            {
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="/Theme/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Tên Tạm</h5>
                    <p>@feedback.title</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        @if (feedback.content.Length > 40) // Kiểm tra độ dài của nội dung
                        {
                            <p class="mb-0"><a href="@Url.Action("DetailsFeedback", "Feedback", new { id = feedback.Id })">@feedback.content.Substring(0, 40)...</a></p> <!-- Nếu quá dài, chỉ hiển thị 100 ký tự đầu tiên -->
                        }
                        else
                        {
                            <p class="mb-0"><a href="@Url.Action("DetailsFeedback", "Feedback", new { id = feedback.Id })">@feedback.content</a></p> <!-- Nếu không, hiển thị toàn bộ nội dung -->
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        <a asp-action="CreateFeedback" class="btn btn-success">Đăng phản hồi</a>
    </div>
@*     <hr />
    <div>
        <a asp-action="GetAllFeedbacks" class="btn btn-primary">Xem Nhiều</a>
    </div> *@
</div>

<!-- Testimonial End -->