﻿@model List<DoAnCoSoPhanModel_DB.Models.News>
@{
    ViewData["Title"] = "Tin Tức";
}


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">NEWS</h6>
            <h1 class="mb-5">TIN TỨC</h1>
        </div>
        <div class="row g-4">
            @if (Model != null)
            {
                @foreach (var news in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" style="width: 100%; height: 180px" src="@news.ImageUrl" alt="@news.Title">
                            </div>
                            
                            <div class="text-center p-4">
                                <h5 class="mb-0"><a href="@Url.Action("DetailsNews", "News", new { id = news.Id })">@news.Title</a></h5>
                                <small>@news.time_create</small>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
@*     <div>
        <a asp-action="CreateNews" class="btn btn-success">Thêm Tin Tức</a>
    </div> *@
    <hr />
    <div>
        <a asp-action="IndexNews" class="btn btn-primary">Xem Danh Sách Tin Tức</a>
    </div>
</div>
<!-- Team End -->