﻿@model DoAnCoSoPhanModel_DB.Models.Documents

@{
    ViewData["Title"] = "DetailsDocument";
}

<div class="container">
    <h1>DetailsDocument</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Documents</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.title)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.title)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Content)</dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Content)
                </dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.files)</dt>
                <dd class="col-sm-10">
                    <embed src="@Model.files" type="application/pdf" width="100%" height="1000px" />
                </dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.videos)</dt>
                <dd class="col-sm-10">
                    <iframe width="100%" height="500px" src="@Model.videos" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </dd>
            </dl>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="EditDocument" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="IndexDocument" class="btn btn-secondary">Back to List</a>
    </div>
</div>
