﻿@model List<DoAnCoSoPhanModel_DB.Models.Documents>

@{
    ViewData["Title"] = "NguoiDungDocument";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">DOCUMENT</h6>
            <h1 class="mb-5">TÀI LIỆU</h1>
        </div>
        <div class="row g-4">
            @if (Model != null)
            {
                @foreach (var document in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" style="width: 100%; height: 180px" src="@document.ImageUrl" alt="@document.title">
                            </div>

                            <div class="text-center p-4">
                                <h5 class="mb-0"><a href="@Url.Action("DetailsDocument", "Document", new { id = document.Id })">@document.title</a></h5>
                                <small>@document.Content</small>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
@*     <div>
        <a asp-action="CreateDocument" class="btn btn-success">Thêm Tài Liệu</a>
    </div>
    <hr />
    <div>
        <a asp-action="IndexDocument" class="btn btn-primary">Xem Danh Sách Tài Liệu</a>
    </div> *@
</div>
