﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/Theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Theme/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Theme/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>DIỄN ĐÀN HỌC TẬP THPT</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="~/Home/Index" class="nav-item nav-link active">Trang Chủ</a>
                <a href="~/AboutUs/IndexAboutUs" class="nav-item nav-link">About Us</a>
             
                <a href="~/CacMonHoc/NguoiDungSubject" class="nav-item nav-link">Học Bài</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="~/GiaoVien/IndexGiaoVien" class="dropdown-item">Đội Ngũ Giáo Viên</a>
                        <a href="~/Feedback/IndexFeedback" class="dropdown-item">FeedBack</a>
                        @* <a href="~/Student/IndexHocSinh" class="dropdown-item">Học Sinh</a> *@
                        <a href="~/Document/NguoiDungDocument" class="dropdown-item">Tài liệu</a>
                    </div>
                </div>
                <a href="~/News/NguoiDungNews" class="nav-item nav-link">Tin Tức</a>
                <a href="~/Post/IndexPost" class="nav-item nav-link">Thảo Luận</a>
                <a href="~/Comments/IndexCmt" class="nav-item nav-link">Comment</a>
                <a href="~/Contact/IndexContact" class="nav-item nav-link">Liên Hệ</a>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="mb-3" style="color: #FFFF00;">DIỄN ĐÀN HỌC TẬP THPT</h4>
                    <p style="font-style: italic;">Trang web nơi chia sẻ và thảo luận nội dung miễn phí dành cho người Việt.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">CHÍNH SÁCH</h4>
                    <a class="btn btn-link" href="">Chính sách bảo mật</a>
                    <a class="btn btn-link" href="">Tin tức tổng hợp</a>
                    <a class="btn btn-link" href="">Thông tin</a>
                    <a class="btn btn-link" href="">Tuyển dụng</a>
                    <a class="btn btn-link" href="">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">LIÊN HỆ</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Thu Duc Campus:  Khu Công nghệ cao TP.HCM (SHTP), Xa lộ Hà Nội, P. Hiệp Phú, TP. Thủ Đức, TP.HCM</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>(028) 5445 7777</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>hutech@hutech.edu.vn</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <img class="img-fluid" src="https://tse3.explicit.bing.net/th?id=OIP.zZTMNjYTKeoX-FhIVF3jPgHaFj&pid=Api&P=0&h=220" alt="dongLuc">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Diễn đàn học tập THPT</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/lib/wow/wow.min.js"></script>
    <script src="~/Theme/lib/easing/easing.min.js"></script>
    <script src="~/Theme/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Theme/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Theme/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>