﻿@using Microsoft.AspNetCore.Mvc.Rendering


@model List<DoAnCoSoPhanModel_DB.Models.Feedbacks>
@foreach (var feedback in Model)
{
    <div class="testimonial-item text-center">
        <img class="border rounded-circle p-2 mx-auto mb-3" src="/Theme/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
        <h5 class="mb-0">Tên Tạm</h5>
        <p>@feedback.title</p>
        <div class="testimonial-text bg-light text-center p-4">
            @if (feedback.content.Length > 40) // Kiểm tra độ dài của nội dung
            {
                <p class="mb-0">@feedback.content.Substring(0, 40)...</p> <!-- Nếu quá dài, chỉ hiển thị 100 ký tự đầu tiên -->
            }
            else
            {
                <p class="mb-0">@feedback.content</p> <!-- Nếu không, hiển thị toàn bộ nội dung -->
            }
        </div>
    </div>
}