﻿@model DoAnCoSoPhanModel_DB.Models.Post

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPost" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="tiny" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ImageUrl" class="control-label">Ảnh nền</label>
                <input type="file" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="time_create" class="control-label">Thời gian đăng</label>
                <input disabled asp-for="time_create" class="form-control" />
                <span asp-validation-for="time_create" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="time_update" class="control-label"></label>
                <input hidden asp-for="time_update" class="form-control" />
                <span asp-validation-for="time_update" class="text-danger"></span>
            </div> *@
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexPost">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
