﻿@model DoAnCoSoPhanModel_DB.Models.Comments

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCmt" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contents" class="control-label"></label>
                <input asp-for="contents" class="form-control" />
                <span asp-validation-for="contents" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="time_create" class="control-label">Thời gian đăng</label>
                <input disabled asp-for="time_create" class="form-control" />
                <span asp-validation-for="time_create" class="text-danger"></span>
            </div> *@
           @*  <div class="form-group">
                <label asp-for="time_update" class="control-label"></label>
                <input asp-for="time_update" class="form-control" />
                <span asp-validation-for="time_update" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexCmt">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
