﻿@model DoAnCoSoPhanModel_DB.Models.News

@{
    ViewData["Title"] = "CreateNews";
}

<div class="container px-4">
    <h2 class="mt-3 mb-3 ml-3">Tạo Tin Tức</h2>
    <hr />
    <div class="row mb-4">
        <div class="col-md-10 offset-md-1">
            <form asp-action="CreateNews" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <label asp-for="Title" class="control-label">Tiêu Đề</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Content" class="control-label">Nội dung</label>
                    <textarea id="tiny" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ImageUrl" class="control-label">Ảnh nền</label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                @* <div class="form-group mb-2">
                    <label asp-for="time_create" class="control-label">Thời gian đăng</label>
                    <input asp-for="time_create" class="form-control" />
                    <span asp-validation-for="time_create" class="text-danger"></span>
                </div> *@
                @* <div class="form-group mb-2">
                    <label asp-for="time_update" class="control-label"></label>
                    <input hidden asp-for="time_update" class="form-control" />
                    <span asp-validation-for="time_update" class="text-danger"></span>
                </div> *@
                <div class="form-group mt-3">
                    <input type="submit" value="Lưu Bài Viết" class="w-100 btn btn-lg btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="NguoiDungNews">Back to List</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
