﻿@model DoAnCoSoPhanModel_DB.Models.Documents

@{
    ViewData["Title"] = "CreateDocument";
}

<h1>CreateDocument</h1>

<h4>Documents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDocument" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Nội Dung</label>
                <textarea id="content" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ImageUrl" class="control-label">Ảnh nền</label>
                <input type="file" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="files" class="control-label">Tập Tin</label>
                <textarea name="files" asp-for="files" class="form-control"></textarea>
                <span asp-validation-for="files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="videos" class="control-label">Video</label>
                <textarea name="videos" asp-for="videos" class="form-control"></textarea>
                <span asp-validation-for="videos" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NguoiDungDocument">Back to List</a>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.ckeditor.com/4.24.0-lts/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('files');
    CKEDITOR.replace('videos');
</script>