﻿@model DoAnCoSoPhanModel_DB.Models.Subject

@{
    ViewData["Title"] = "CreateSubject";
}

<div class="container px-4">
    <h2 class="mt-3 mb-3 ml-3">Tạo Môn Học</h2>
    <hr />
    <div class="row mb-4">
        <div class="col-md-10 offset-md-1">
            <form asp-action="CreateSubject" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <label asp-for="Name" class="control-label">Tên Môn Học</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Description" class="control-label">Mô tả</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ImageUrl" class="control-label">Ảnh nền</label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Tạo Môn Học" class="w-100 btn btn-lg btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="NguoiDungSubject">Quay lại danh sách</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
