﻿@model DoAnCoSoPhanModel_DB.Models.Documents

@{
    ViewData["Title"] = "DeleteDocument";
}

<h1>DeleteDocument</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Documents</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.title)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.title)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Content)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Content)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ImageUrl)</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" class="img-fluid" alt="Document Image" width="150px" height="auto" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.files)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.files)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.videos)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.videos)</dd>
    </dl>

    <form asp-action="DeleteDocument">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button> |
        <a asp-action="IndexDocument" class="btn btn-secondary">Back to List</a>
    </form>
</div>
