﻿@model DoAnCoSoPhanModel_DB.Models.News

@{
    ViewData["Title"] = "DeleteNews";
}

<div class="container">
    <h1>Delete News</h1>

    <h3>Are you sure you want to delete this?</h3>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">News</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Title</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
                <dt class="col-sm-2">Content</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Content)</dd>
                <dt class="col-sm-2">Image</dt>
                <dd class="col-sm-10">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" class="img-fluid" alt="News Image" width="150px" height="auto"/>
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </dd>

                <dt class="col-sm-2">Created Time</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.time_create)</dd>
                <dt class="col-sm-2">Updated Time</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.time_update)</dd>
            </dl>

            <form asp-action="DeleteNews">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button> |
                <a asp-action="IndexNews" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
