﻿@model DoAnCoSoPhanModel_DB.Models.Feedbacks

@{
    ViewData["Title"] = "DeleteFeedback";
}

<div class="container">
    <h1>Delete Feedback</h1>

    <h3>Are you sure you want to delete this?</h3>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Feedbacks</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.title)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.title)</dd>
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.content)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.content)</dd>
            </dl>

            <form asp-action="DeleteFeedback">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button> |
                <a asp-action="IndexFeedback" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
