﻿@model DoAnCoSoPhanModel_DB.Models.Subject

@{
    ViewData["Title"] = "DeleteSubject";
}

<div class="container">
    <h1>Xoá môn học</h1>

    <h3>Are you sure you want to delete this?</h3>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Subject</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ImageUrl)</dt>
                <dd class="col-sm-10">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" class="img-fluid" alt="Subject Image" width="150px" height="auto" />
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </dd>
            </dl>

            <form asp-action="DeleteSubject">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button> |
                <a asp-action="IndexCacMonHoc" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
