﻿@model DoAnCoSoPhanModel_DB.Models.Subject

@{
    ViewData["Title"] = "DetailsSubject";
}

<div class="container">
    <h1>Details</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">News</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Title</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-2">Image</dt>
                <dd class="col-sm-10">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" class="img-fluid" alt="News Image" width="150px">
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </dd>

                <dt class="col-sm-2">Miêu Tả</dt>
                <dd class="col-sm-10">
                    @if (Model.Description.Length > 100)
                    {
                        <p>@Html.DisplayFor(model => model.Description)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Description)
                    }
                </dd>

                <dt class="col-sm-2">Tài Liệu</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Documents)</dd>
            </dl>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="EditSubject" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="NguoiDungSubject" class="btn btn-secondary">Back to List</a>
    </div>
</div>