﻿@model DoAnCoSoPhanModel_DB.Models.News

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">News</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Title</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
                
                <dt class="col-sm-2">Image</dt>
                <dd class="col-sm-10">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" class="img-fluid" alt="News Image" width="150px">
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </dd>

                <dt class="col-sm-2">Content</dt>
                <dd class="col-sm-10">
                    @if (Model.Content.Length > 100)
                    {
                        <p>@Html.DisplayFor(model => model.Content)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Content)
                    }
                </dd>

                <dt class="col-sm-2">Created Time</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.time_create)</dd>
                <dt class="col-sm-2">Updated Time</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.time_update)</dd>
            </dl>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="EditNews" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="IndexNews" class="btn btn-secondary">Back to List</a>
    </div>
</div>

