﻿@model DoAnCoSoPhanModel_DB.Models.Feedbacks

@{
    ViewData["Title"] = "DetailsFeedback";
}

<div class="container">
    <h1>DetailsFeedback</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Feedbacks</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.title)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.title)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.content)</dt>
                <dd class="col-sm-10">
                    @if (Model.content.Length > 100)
                    {
                        <p>@Html.DisplayFor(model => model.content)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.content)
                    }
                </dd>
            </dl>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="EditFeedback" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="IndexFeedback" class="btn btn-secondary">Back to List</a>
    </div>
</div>
