﻿@model DoAnCoSoPhanModel_DB.Models.News

@{
    ViewData["Title"] = "Edit";
}
<div class="container px-4">
    <h2 class="mt-3 mb-3 ml-3">Chỉnh sửa Tin Tức</h2>
    <hr />
    <div class="row mb-4">
        <div class="col-md-10 offset-md-1">
            @* chỗ này quan trọng nè asp-action - phải trùng tên với httpost bên controller *@
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-2">
                    <label asp-for="Title" class="control-label">Tiêu Đề</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Content" class="control-label">Nội dung</label>
                    <textarea id="tiny" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ImageUrl" class="control-label">Ảnh nền</label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    @if (Model.ImageUrl != null)
                    {
                        <img src="@Model.ImageUrl" width="150px" height="auto" />
                    }
                </div>
                <div class="form-group mb-2">
                    <label asp-for="time_create" class="control-label">Thời gian đăng</label>
                    <input disabled asp-for="time_create" class="form-control" />
                    <span asp-validation-for="time_create" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="time_update" class="control-label">Thời gian cập nhật cũ</label>
                    <input disabled asp-for="time_update" class="form-control" />
                    <span asp-validation-for="time_update" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="IndexNews" class="btn btn-secondary">Quay lại danh sách</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}