﻿@model DoAnCoSoPhanModel_DB.Models.Subject

@{
    ViewData["Title"] = "EditSubject";
}
<div class="container">
    <h1>EditSubject</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Subject</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="EditSubject" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên Môn Học</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Miêu Tả</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label">Ảnh</label>
                            <input type="file" asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            <hr />
                            @if (Model.ImageUrl != null)
                            {
                                <img src="@Model.ImageUrl" width="150px" height="auto" />
                            }
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
