﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.Feedbacks>

@{
    ViewData["Title"] = "GetAllFeedbacks";
}

<div class="container-fluid px-4">
    <!-- Sử dụng container-fluid để làm cho chiều ngang to hơn -->
    <h2 class="mt-3 mb-3 ml-3">Danh sách Phản Hồi</h2>
    <hr />

    <div class="row mb-4">
        <div class="col-md-12">
            <!-- Sử dụng col-md-12 để làm cho bảng chiều ngang đầy đủ trên các thiết bị lớn -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Nội dung</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width=50px">@item.title</td>
                            <td>
                                @if (item.content.Length > 60)
                                {
                                    <span title="@item.content">@item.content.Substring(0, 60)...</span>
                                }
                                else
                                {
                                    @item.content
                                }
                            </td>
                            <td style="max-width=200px">
                                <a asp-action="DetailsFeedback" asp-route-id="@item.Id" class="btn btn-info">Xem chi tiết</a>
                                <a asp-action="DeleteFeedback" asp-route-id="@item.Id" class="btn btn-danger">Xoá</a>
                                <a asp-action="EditFeedback" asp-route-id="@item.Id" class="btn btn-warning">Sửa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="CreateFeedback" class="btn btn-success">Tạo Phản Hồi</a>
    </div>
    <hr />
    <div>
        <a asp-action="IndexFeedback" class="btn btn-primary">Trở lại</a>
    </div>
</div>
