﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.Comments>

@{
    ViewData["Title"] = "Index";
}
<div class="container px-4">
    <h2 class="mt-3 mb-3 ml-3">Danh sách Comment</h2>
    <hr />
    <div class="row mb-4">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Nội dung</th>
                        <th>Thời gian đăng</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.title</td>
                            <td>
                                @if (item.contents.Length > 60)
                                {
                                    <span title="@item.contents">@item.contents.Substring(0, 60)...</span>
                                }
                                else
                                {
                                    @item.contents
                                }
                            </td>
                            <td>@item.time_create</td>
                            <td>
                                <a asp-action="DetailsCmt" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                <a asp-action="EditCmt" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="DeleteCmt" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="CreateCmt" class="btn btn-success">Tạo Comment</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
