﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.Student>

@{
    ViewData["Title"] = "IndexHocSinh";
}

<h1>IndexHocSinh</h1>

<p>
    <a asp-action="CreateHocSinh" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Họ và Tên</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Giới tính</th>
            <th>Hình ảnh</th>
            <th>Khối Lớp</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" width="150px" height="auto" />
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                <td>
                    <a asp-action="EditHocSinh" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="DetailsHocSinh" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="DeleteHocSinh" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div><a asp-action="IndexHocSinh" class="btn btn-secondary">Back to List</a></div>
