﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.Subject>

@{
    ViewData["Title"] = "IndexCacMonHoc";
}

<div class="container-fluid px-4">
    <!-- Sử dụng container-fluid để làm cho chiều ngang to hơn -->
    <h2 class="mt-3 mb-3 ml-3">Danh sách Môn Học</h2>
    <hr />

    <div class="row mb-4">
        <div class="col-md-12">
            <!-- Sử dụng col-md-12 để làm cho bảng chiều ngang đầy đủ trên các thiết bị lớn -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên Môn Học</th>
                        <th>Hình Ảnh</th>
                        <th>Miêu Tả</th>
                        <th>Tài Liệu</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width=50px">@item.Name</td>
                            <td>
                                @if (item.ImageUrl != null)
                                {
                                    <img src="@item.ImageUrl" width="150px" height="auto" />
                                }
                            </td>
                            <td>
                                @if (item.Description.Length > 60)
                                {
                                    <span title="@item.Description">@item.Description.Substring(0, 60)...</span>
                                }
                                else
                                {
                                    @item.Description
                                }
                            </td>                          
                            <td>@item.Documents</td>
                            <td style="max-width=200px">
                                <a asp-action="DetailsSubject" asp-route-id="@item.Id" class="btn btn-info">Xem chi tiết</a>
                                <a asp-action="DeleteSubject" asp-route-id="@item.Id" class="btn btn-danger">Xoá</a>
                                <a asp-action="EditSubject" asp-route-id="@item.Id" class="btn btn-warning">Sửa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="CreateSubject" class="btn btn-success">Tạo Môn Học Mới</a>
    </div>
</div>

