﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.Documents>

@{
    ViewData["Title"] = "IndexDocument";
}

<div class="container-fluid px-4">
    <h2 class="mt-3 mb-3 ml-3">Danh sách Tài Liệu</h2>
    <hr />

    <div class="row mb-4">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Nội dung</th>
                        <th>Hình Ảnh</th>
                        <th>Tập tin</th>
                        <th>Video</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.title</td>
                            <td>@item.Content</td>
                            <td>
                                @if (item.ImageUrl != null)
                                {
                                    <img src="@item.ImageUrl" width="150px" height="auto" />
                                }
                            </td>
                            <td>@item.files</td>
                            <td>@item.videos</td>
                            <td>
                                <a asp-action="EditDocument" asp-route-id="@item.Id" class="btn btn-warning">Sửa</a>
                                <a asp-action="DetailsDocument" asp-route-id="@item.Id" class="btn btn-info">Xem chi tiết</a>
                                <a asp-action="DeleteDocument" asp-route-id="@item.Id" class="btn btn-danger">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="CreateDocument" class="btn btn-success">Tạo Tài Liệu</a>
    </div>
    <hr />
    <div>
        <a asp-action="NguoiDungDocument" class="btn btn-primary">Trở Lại</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.24.0-lts/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('files');
    CKEDITOR.replace('videos');
</script>