﻿@model IEnumerable<DoAnCoSoPhanModel_DB.Models.News>

@{
    ViewData["Title"] = "IndexNews";

}

<div class="container-fluid px-4">
    <!-- Sử dụng container-fluid để làm cho chiều ngang to hơn -->
    <h2 class="mt-3 mb-3 ml-3">Danh sách Tin Tức</h2>
    <hr />

    <div class="row mb-4">
        <div class="col-md-12">
            <!-- Sử dụng col-md-12 để làm cho bảng chiều ngang đầy đủ trên các thiết bị lớn -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Nội dung</th>
                        <th>Ảnh nền</th>
                        <th>Thời gian đăng</th>
                        <th>Thời gian cập nhật</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width=50px">@item.Title</td>
                            <td>
                                @if (item.Content.Length > 60)
                                {
                                    <span title="@item.Content">@item.Content.Substring(0, 60)...</span>
                                }
                                else
                                {
                                    @item.Content
                                }
                            </td>
                            <td>
                                @if (item.ImageUrl != null)
                                {
                                    <img src="@item.ImageUrl" width="150px" height="auto" />
                                }
                            </td>
                            <td>@item.time_create</td>
                            <td>@item.time_update</td>
                            <td style="max-width=200px">
                                <a asp-action="DetailsNews" asp-route-id="@item.Id" class="btn btn-info">Xem chi tiết</a>
                                <a asp-action="DeleteNews" asp-route-id="@item.Id" class="btn btn-danger">Xoá</a>
                                <a asp-action="EditNews" asp-route-id="@item.Id" class="btn btn-warning">Sửa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="CreateNews" class="btn btn-success">Tạo Tin Tức</a>
    </div>
    <hr />
    <div>
        <a asp-action="NguoiDungNews" class="btn btn-primary">Trở Lại</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

