﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container px-4">
        <h1 class="mt-4" id="headerloginpage">Xin Chào Admin</h1>

    </div>
</main>

