﻿@model List<DoAnCoSoPhanModel_DB.Models.Subject>
@{
    ViewData["Title"] = "Các Môn Học";
}


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">HỌC BÀI</h6>
            <h1 class="mb-5">DANH SÁCH CÁC MÔN HỌC</h1>
        </div>
        <div class="row g-4">
            @if (Model != null)
            {
                @foreach (var subject in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" style="width: 100%; height: 180px" src="@subject.ImageUrl" alt="@subject.Name">
                            </div>

                            <div class="text-center p-4">
                                <h5 class="mb-0"><a href="@Url.Action("DetailsSubject", "CacMonHoc", new { id = subject.Id })">@subject.Name</a></h5>
                                <small>@subject.Description</small>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
@*     <div>
        <a asp-action="CreateSubject" class="btn btn-success">Thêm Môn Học</a>
    </div> *@
  @*   <hr />
    <div>
        <a asp-action="IndexCacMonHoc" class="btn btn-primary">Xem Danh Sách Môn Học</a>
    </div> *@
</div>
<!-- Team End -->