﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card rounded-3 shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">@ViewData["Title"]</h1>
                    <hr />
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Họ và tên</label>
                            <input asp-for="Input.FullName" class="form-control rounded-pill" id="fullName" autocomplete="fullname" aria-required="true" placeholder="Nhập họ và tên" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control rounded-pill" id="email" autocomplete="username" aria-required="true" placeholder="Nhập địa chỉ email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Số điện thoại</label>
                            <input asp-for="Input.PhoneNumber" class="form-control rounded-pill" id="phoneNumber" autocomplete="phonenumber" aria-required="true" placeholder="Nhập số điện thoại" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <input asp-for="Input.Password" class="form-control rounded-pill" id="password" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Nhập lại mật khẩu</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control rounded-pill" id="confirmPassword" autocomplete="new-password" aria-required="true" placeholder="Nhập lại mật khẩu" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary rounded-pill">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
